<%#
    needs: router - (optional) leave blank if you are not in an engine; otherwise specify your engine routes mount name


    This partial renders a DOM element that serves as a placeholder for the actual data_table.
    A subsequent ajax request will update this DOM element with the actual table content.
  %>
<ts-loadable href="<%= router.url_for(url) %>" extra-params-form-selector="form#<%= filter_form_id %>" <%= 'lazyload' unless fetch_on_page_load %> >
    <% if fetch_on_page_load %>
        <table class="data_table">
          <tr>
            <td style="text-align:center; padding: 2em">
                <icon style="font-size:200px" class="animate-rotate-left">sync</icon>
            </td>
          </tr>
        </table>
    <% end %>
</ts-loadable>

<script class="needs_processing">

    TopsailStarter.elementBeforeThisScriptNode()[0]
                  .addEventListener("ts-loaded", function(){
        var $table = $(this.children[0]);
        TopsailStarter.DataTable.initialize_ajaxy( $table );
    });

</script>
