<!--
 |
 |  ts-select2
 |
 |   uses JQuery/Select2
 |
 |   Note: this uses select2 >= 4.0;
 |         the JQuery Event "change" will be translated into a CustomEvent that can be trapped via addEventLsitener
 |
 |   Special features:
 |      - attribute "data-orderable": mylti-selects can be ordered via drag-and-drop
 |      - attribute "data-count-start": multi select will start showing "(n items)" when number of selection reached
 |
 |   Examples:
 |       <select is="ts-select2" name="tokenized" multiple="true" data-tags="true"></select>
 |
 +-->
 <script src="ts-select2.js"></script>