/*
      Basic styles that should be shareed between components
*/
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       font-url('MaterialIcons-Regular.woff2') format('woff2'),
       font-url('MaterialIcons-Regular.woff') format('woff'),
       font-url('MaterialIcons-Regular.ttf') format('truetype');
}*/


.ts-icon {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;  /* to allow ligatures (text content in el) */
  font-style: normal; /* so that we could use <i> and don't twist the images */
  font-feature-settings: 'liga';       /* Support for IE; seems to also work in future Chrome (48) */
  text-transform: none;
}