// Opacity values for text/icons
$dark-primary-color:    rgba(0, 0, 0, 0.87);
$dark-secondary-color:  rgba(0, 0, 0, 0.54);
$dark-icon-color:       rgba(0, 0, 0, 0.38);

$light-primary-color:   rgba(255, 255, 255, 1  );
$light-secondary-color: rgba(255, 255, 255, 0.7);
$light-icon-color:      rgba(255, 255, 255, 0.3);

// Font
$font-family-base: Helvetica Neue,Arial,sans-serif !default;
$font-size-base: 16px !default; // for review
$font-color-light: white !default;
$font-color-dark: black !default;

$font-color-base: #454545 !default; // for review
$font-color-header: #333333 !default; // for review
$font-color-content: #333333 !default; // for review
$font-color-hover: #2b2b2b !default; // for review
$font-color-active: #ffffff !default; // for review
$font-color-error: #DB2323 !default; // for review

$font-color-highlight: #777620 !default;

$font-weight-base: normal !default; // for review


// Borders
$border-color-default: #c5c5c5 !default; // for review
$border-color-header: #dddddd !default; // for review
$border-color-content: #dddddd !default; // for review
$border-color-hover: #cccccc !default; // for review
$border-color-active: #003eff !default; // for review
$border-color-error: #f1a899 !default; // for review
$border-color-highlight: #dad55e !default; // for review

// Background
$background-color-default: #f6f6f6 !default; // for review
$background-color-header: #e9e9e9 !default; // for review
$background-color-content: #ffffff !default; // for review
$background-color-hover: #ededed !default; // for review
$background-color-active: #007fff !default; // for review
$background-color-error: #fddfdf !default; // for review
$background-color-highlight: #fffa90 !default;

$background-color-overlay: #aaaaaa !default; // for review
$background-color-shadow: #666666 !default; // for review

$opacity-overlay: .3;


$brand-color-primary: #00829B !default;
$brand-color-secondary: white !default;
