/*
 *  Globals used;
 *
 * the strange syntax is here just tom make sure the variables exist
 */
$font_color_light: $font_color_light;
$font_color_dark:  $font_color_dark;


@function background_color_hover($some-background-color) {
  @if lightness($some-background-color) > 70 {
    @return darken($some-background-color, 10%)
  } @else {
    @return lighten($some-background-color, 10%)
  }
}

/* Pass in the background hover color! */
@function font_color_contrasting($some-background-color) {
  @if lightness($some-background-color) > 70 {
    @return $font_color_dark;
  } @else {
    @return $font_color_light;
  }
}