/*
 *  Globals used;
 *
 * the strange syntax is here just tom make sure the variables exist
 */

$brand_color_primary:   $brand_color_primary;
$brand_color_secondary: $brand_color_secondary;

/*   How to use:
 *        actionable items can have modifying states:
 *                - disabled
 *                - highlighted
 *        they can addtionally have a .widget class,
 *           which makes them appear more button-y and not like a link.
 *           I am not sure link-y actionable items should be highlighted...
 */

/*
 *  Variables to customize
 */
$action_on_color:                $brand_color_secondary                           !default;
$action_off_color:               inherit                                          !default;

$widget_background_color:        $brand_color_primary                             !default;
$widget_background_active_color: $brand_color_secondary                           !default;
$widget_font_color:              font_color_contrasting($widget_background_color) !default;


.actionable {
  color: $action_off_color;
  &:hover {
    opacity: 1;
    color: $action_on_color;
    svg { fill: $action_on_color; }
  }
  &.highlighted {
    background-color: red; // I think this should never happen. Deal w/ it when it does happen!
  }

  &.widget {
    color: $widget_font_color;
    background-color: $widget_background_color;
    &:hover {
      color: $widget_background_active_color;
    }
    &.highlighted {
      background-color: $widget_background_active_color;
      &:hover {
        color: $widget_background_color;
      }
    }

  }
}

