@-moz-keyframes    rotating { 100% { -moz-transform:    rotate(360deg); } }
@-webkit-keyframes rotating { 100% { -webkit-transform: rotate(360deg); } }
@keyframes         rotating { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes    rotating-left { 100% { -moz-transform:    rotate(-360deg); } }
@-webkit-keyframes rotating-left { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes         rotating-left { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.animate-rotate {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation:    rotating 2s linear infinite;
  -ms-animation:     rotating 2s linear infinite;
  -o-animation:      rotating 2s linear infinite;
  animation:         rotating 2s linear infinite;
}

.animate-rotate-left {
  -webkit-animation: rotating-left 2s linear infinite;
  -moz-animation:    rotating-left 2s linear infinite;
  -ms-animation:     rotating-left 2s linear infinite;
  -o-animation:      rotating-left 2s linear infinite;
  animation:         rotating-left 2s linear infinite;
}