.ts-button {
  padding: .4em 1em;
  display: inline-block;
  position: relative;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  /* Support: IE <= 11 */
  overflow: visible;

  &.ts-button:link,
  &.ts-button:visited,
  &.ts-button:hover,
  &.ts-button:active {
    text-decoration: none;
  }
}

.ts-button,
.ts-button:link,
.ts-button:visited,
.ts-button:hover,
.ts-button:active {
  text-decoration: none;
}

.button, button , input[type=submit]{
  @extend .ts-button;
  @extend .ts-widget;
  @extend .ts-state-default;

  padding: .4em 1em;

  &:hover:not(:disabled){
    @extend .ts-state-hover;
  }

  &:disabled{
    @extend .ts-state-disabled;
  }

}

form.button_to {
  display: inline-block;
}