.data_table{

  width: 100%;
  clear:both;
  & > thead {
    @extend .ts-priority-primary, .ts-widget-header;

    & > tr > th {
      &:first-child {
        // @extend .ts-corner-tl;
      }
      &:last-child {
        // @extend .ts-corner-tr;
      }

    }
  }

  & > tbody {

    > tr:not(.showing_form):hover {
      @extend .ts-state-highlight;
    }

    .no_records_found {
      > td {
        text-align: center;
        padding: 2em;
        font-size: large;
      }
      &:not(:last-of-type){
        display: none;
      }
    }
  }

  & > tfoot{
    tr.totals{
      @extend .ts-priority-secondary, .ts-widget-header;
    }
  }
}