/*
 *
 *
 * If you want static menues, put something like this in your application's (s)css
 *    body {padding-top: 1.5em}
 *    #menu {position: fixed;}
 *
 */


/*
   Referenced global variables
*/
$brand_color_primary: blue !default;

/*
   Component variables
*/
$menu_link_min_width:         13em                                           !default;
$menu_background_color:       $brand_color_primary                           !default;
$menu_background_hover_color: background_color_hover($menu_background_color) !default;

$menu_font_color:       font_color_contrasting($menu_background_color)       !default;
$menu_font_hover_color: font_color_contrasting($menu_background_hover_color) !default;

$menu_item_padding:     0.5em                                                !default;

/*
 *  Appearance
 *
 */

#menu {
  color: $menu_font_color;
  background-color: $menu_background_color;

  /* Top Menu */
  top:0;
  left:0; width: 100%;
  min-width: inherit; // so that it gets the body's min-width even though #menu might be position fixed

  /* all levels */
  ul    {list-style: none; margin: 0; padding: 0; }
  ul, li {background-color: inherit;}
  a     {text-decoration: none; color:inherit;}
  a, h2 {
    font-size: inherit;
    font-weight: normal;
    display: block;
    margin: 0;
    padding: $menu_item_padding
  }
  a:hover, h2:hover  {
    color: $menu_font_hover_color;
    background-color: $menu_background_hover_color;
  }

  li {
    min-width: $menu_link_min_width;
    cursor: pointer;
  }

  /* first level */
  & > ul > li {
    float: left;
    line-height: 1em;
    border: solid thin;
    > h2:before         {
      font-family:'Arial Unicode MS';
      content:'\25BA';
      padding-right: 0.7em;
      font-size:0.7em;
      line-height: 0.7em;
    }
    &:hover > h2:before {content:'\25BC';}
  }

  /* lower level */
  ul ul    {top: (1em + 2*$menu_item_padding)}
  ul ul li {
    border: solid 1px;
    &:not(:last-child) {border-bottom: none;}
    vertical-align:  bottom;
    h2:before {
      font-family:'Arial Unicode MS';
      content:'\25BA';
      float:right;
      font-size:0.7em;
      padding-top: 0.2em}
  }

}

/*
 * Behavior
 *
 */
#menu {

  z-index: 100;

  /* show hide */
  li        {position: relative;}
  ul ul     {position: absolute; z-index: 500;}
  ul ul ul  {position: absolute; top: -1px; left: 100%;}
  ul ul, ul li:hover ul ul, ul ul li:hover ul ul           {display: none;}
  ul li:hover ul, ul ul li:hover ul, ul ul ul li:hover ul  {display: block}

}
