.resource_form {

  // @extend .ui-widget-content;   // I think this came from COACH, but makes styling the forms really hard; commenting out for now

  padding: 1em;

  #form_actions{
    text-align: center;
    padding: 1em 1em 0.5em 1em;
  }

}


.resource_show {

  padding: 1em;
    
  #show_actions{
    text-align: center;
    padding: 1em 1em 0.5em 1em;
  }

}