//States
.ts-state-default,
.ts-widget-content .ts-state-default,
.ts-widget-header .ts-state-default,
.ts-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ts-button.ts-state-disabled:hover,
html .ts-button.ts-state-disabled:active {
  border: 1px solid $border-color-default;
  background: $background-color-default;
  font-weight: $font-weight-base;
  color: $font-color-base;
}
.ts-state-default a,
.ts-state-default a:link,
.ts-state-default a:visited,
a.ts-button,
a:link.ts-button,
a:visited.ts-button,
.ts-button {
  color: $font-color-base;
  text-decoration: none;
}
.ts-state-hover,
.ts-widget-content .ts-state-hover,
.ts-widget-header .ts-state-hover,
.ts-state-focus,
.ts-widget-content .ts-state-focus,
.ts-widget-header .ts-state-focus,
.ts-button:hover,
.ts-button:focus {
  border: inherit solid $border-color-hover;
  background: $background-color-hover;
  font-weight: $font-weight-base;
  color: $font-color-hover;
}
.ts-state-hover a,
.ts-state-hover a:hover,
.ts-state-hover a:link,
.ts-state-hover a:visited,
.ts-state-focus a,
.ts-state-focus a:hover,
.ts-state-focus a:link,
.ts-state-focus a:visited,
a.ts-button:hover,
a.ts-button:focus {
  color: $font-color-hover;
  text-decoration: none;
}

.ts-visual-focus {
  box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ts-state-active,
.ts-widget-content .ts-state-active,
.ts-widget-header .ts-state-active,
a.ts-button:active,
.ts-button:active,
.ts-button.ts-state-active:hover {
  border: inherit solid $border-color-active;
  background: $background-color-active;
  font-weight: $font-weight-base;
  color: $font-color-active;
}
.ts-icon-background,
.ts-state-active .ts-icon-background {
  border: $border-color-active;
  background-color: $font-color-active;
}
.ts-state-active a,
.ts-state-active a:link,
.ts-state-active a:visited {
  color: $font-color-active;
  text-decoration: none;
}


// Interactions
.ts-state-highlight,
.ts-widget-content .ts-state-highlight,
.ts-widget-header .ts-state-highlight {
  border: inherit solid $border-color-highlight;
  background: $background-color-highlight;
  color: $font-color-highlight;
}
.ts-state-highlight a,
.ts-widget-content .ts-state-highlight a,
.ts-widget-header .ts-state-highlight a {
  color: $font-color-highlight;
}
.ts-state-error,
.ts-widget-content .ts-state-error,
.ts-widget-header .ts-state-error {
  border: 1px solid $border-color-error;
  background: $background-color-error;
  color: $font-color-error;
}
.ts-state-error a,
.ts-widget-content .ts-state-error a,
.ts-widget-header .ts-state-error a {
  color: $font-color-error;
}
.ts-state-error-text,
.ts-widget-content .ts-state-error-text,
.ts-widget-header .ts-state-error-text {
  color: $font-color-error;
}
.ts-priority-primary,
.ts-widget-content .ts-priority-primary,
.ts-widget-header .ts-priority-primary {
  font-weight: bold;
}
.ts-priority-secondary,
.ts-widget-content .ts-priority-secondary,
.ts-widget-header .ts-priority-secondary {
  opacity: .7;
  filter:Alpha(Opacity=70); /* support: IE8 */
  font-weight: normal;
}
.ts-state-disabled,
.ts-widget-content .ts-state-disabled,
.ts-widget-header .ts-state-disabled {
  opacity: .35;
  filter:Alpha(Opacity=35); /* support: IE8 */
  background-image: none;
}
.ts-state-disabled .ts-icon {
  filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}