/*
 *  Variables to customize
 */
$ts_loadable_sorter_on_color:                $brand_color_secondary                           !default;


ts-loadable-sorter {
  @extend .actionable;

  // Sorted
  &[sort-pos]:after {
    color: $ts-loadable-sorter_on_color;
  }
}