.validation_errors {
  text-align: center;

  .alert-box{
    @extend .ts-state-error;
    display: inline-block;   // just a box instead of all across
    margin: 1em;
    padding: 0.5em;
    text-align: left;
  }
}

// Ruby assigns the DOM fragments and classes .field_with_errors
.field_with_errors {
  @extend .ts-state-error-text;
  display: inline;
  input, select { @extend .ts-state-error; }

  .select2-search-field {   /* This seems to be for Select2 < 4.0 */
    @extend .ts-state-error;
    input.select2-input {color: inherit;}
  }

  .select2-selection {
    @extend .ts-state-error;
    border-color: inherit; /* select2 sets it explicitly */
  }
}