<%# needs: f - the FormBuilder
	This is just a generic defaut. You most likely will overwrite this template using real :td markup instead of this meta-programming stuff
%>


<%= f.label :name -%>&nbsp;
<%= f.text_field :name, autocomplete: 'off' -%>

