<%#  needs:   @records
%>
<% if  can?(:new, @records.model.new) %>
  <br/><br/>
  <%= link_to "New #{@records.model.model_name.human}",
              polymorphic_url(@records.model, :action => :new),
              remote: request.xhr?,
              class: 'button' %>
<% end %>