<%# needs   @record
%>
<div id="show_actions">

  <% if request.xhr? %>
    <%= link_to "Close", "#", onclick: 'return TopsailStarter.DataTable.restore_original_tr( $(this).closest("tr") );', :class => 'primary button cancel' %>
  <% else %>
    <%= link_to "Close", url_for(@record.class), :class => 'primary button cancel' %>
  <% end %>


</div>
