<% if params[:as_index_panel].present? %>

  <% list_identifier = "#{ @records.name.underscore.pluralize }_list" %>

  <%= render 'index_actions' %>
  <span id="<%= list_identifier %>_filter"><%= render 'index_filter' %></span>

  <ts-loadable href="<%= url_for request.params.merge(variant: request.variant.first, as_index_panel: '', format: 'html') %>"
               id="panel_<%= list_identifier %>" extra-params-form-selector="#<%= list_identifier %>_filter FORM">
  </ts-loadable>

<% elsif request.xhr? %>

  <%= render 'index_table' %>

<% else %>
  <div id="dictionary_index">

    <h1><%= @records.model.model_name.human(count: 2) %></h1>

    <%= render 'index_filter' %>
    <%= render 'index_table' %>
    <%= render 'index_page_trailer' %>

  </div>
<% end %>