<%# needs records
          num_columns -
          totals - (optional)
          router - (optional)
%>
<tfoot>
<%= render 'tfoot_tr_totals' %>
<%= render 'tfoot_tr_will_paginate' %>
<%= render 'tfoot_tr_additional' %>
</tfoot>