<%# needs menu_tree %>

<nav id="menu">
  <%= 
    menu_tag menu_tree + 
      [{'Log Out' => destroy_user_profile_session_path, :method => :delete, :id => 'signout', li_atts: {style: 'float: right; width: 100px'}}]
  %>
</nav>