<%# needs  record (optional) - the AR instance with errors; if omitted, @record is used %>
<%
  unless defined?(record)
    record = @record
  end
%>
<% if record.errors.any? %>

  <div class="validation_errors">
    <div class="alert-box">
      <%= safe_join record.errors.full_messages, '<br/>'.html_safe %>
    </div>
  </div>
  
<% end %>
