<%
  label_text = single_filter_config[:label] || "Search #{ human_filter_label filter_key }"

  field_val = form_builder.object[filter_key]
  field_val = field_val[0] if field_val.is_a?(Array) && field_val.size < 2

if field_val.is_a?(Array)
%><span><%= label_text %>: <%= field_val.size %> records</span><%=
  safe_join field_val.map{|v| form_builder.hidden_field filter_key, value:v, multiple: true }
%><%
else
%><span class='filter_search_one'><%=

    form_builder.text_field filter_key, placeholder: label_text

%></span><%
end %>