<span class='filter_search_any_tokenized'><%=

    form_builder.select filter_key,
                        form_builder.object.send(filter_key) || [],
                        {include_hidden: false},
                        multiple: true,
                        data: {
                                placeholder: single_filter_config[:label] || "Search #{ human_filter_label filter_key }",
                                tags: true
                              },
                        is: 'ts-select2'

%></span>