<label class='filter_date'><%=

  single_filter_config[:label] || human_filter_label(filter_key) %>&nbsp;<%=

  # the :date_field method expects the form_builder to return a date/time, but we store a string.
  # For that reason we need to code around the actual value attribute
  field_val = form_builder.object.send(filter_key)

  form_builder.date_field filter_key, value: field_val

%></label>