<%# needs audited_current %>
<tbody class="current">
  <tr>
    <th>Current Belongs_To</th>
    <th>Current Attributes</th>
    <th>Current Has_Many</th>
  </tr>
  <tr>
    <td>
      <% audited_current.class.reflect_on_all_associations.select(&:belongs_to?).each{ |assoc| %>
        <% parent = audited_current.respond_to?(assoc.name) ? audited_current.send(assoc.name) : nil  %>
        <%= content_tag :b, assoc.name %>:
        <% if parent %>
          <%= link_to_if AuditLog.where(audited: parent).any?,
                         (parent.respond_to?(:to_audit_s) ? parent.to_audit_s : "#{parent.model_name.human}##{parent.id}"),
                         topsail_starter_router.audit_logs_path(filter: {audited_type: parent.class.name, audited_id: parent.id}) %>
        <% end %>
        <br/>
      <% } %>
    </td>
    <td>
      <%= render partial: 'show_attributes', locals: {attributes_hash: audited_current.attributes, changes: {} } %>
    </td>
    <td>
      <% audited_current.class.reflect_on_all_associations.reject{ |assoc|
            assoc.belongs_to? || assoc.options.include?(:through)
        }.each{ |assoc| %>
            <% child_assoc_scope = audited_current.respond_to?(assoc.name) ? audited_current.send(assoc.name) : nil  %>
            <%= content_tag :b, assoc.name %>:
            <%= if assoc.macro == :has_one
                 child_assoc_scope ? 1 : 0
                elsif child_assoc_scope
                  ids = child_assoc_scope.pluck("#{child_assoc_scope.table_name}.#{child_assoc_scope.primary_key}")
                  if ids.size == 0
                    0
                  else
                    link_to_if(AuditLog.where(audited_type: child_assoc_scope.sti_name, audited_id: ids).any?,
                               ids.size,
                               topsail_starter_router.audit_logs_path(filter: {audited_type: child_assoc_scope.sti_name, audited_id: ids}))
                  end
                else
                  "???"
                end %>
            <br/>
      <% } %>
    </td>
  </tr>
</tbody>