<%# needs    audit_logs
             title
%>

<tbody class="adjacent <%= title.parameterize.underscore %>">
  <tr>
    <td colspan="3">
      <% if audit_logs.any? %>
        <b><%= title %></b>
        <ul>
          <% audit_logs.each{ | l | %>
            <%= content_tag :li,
                            link_to("#{ l.action.upcase } #{'in ' + l.association_name if l.association_name} @ #{ l(l.created_at) }" ,
                                    topsail_starter_router.audit_log_path(l)) %>
          <% } %>
        </ul>
      <% else %>
        <b>No <%= title %></b>
      <% end %>
    </td>
  </tr>
</tbody>
