
<style>
  table.changed_attributes {width: 100%;}
  table.changed_attributes th {text-align: right; }
  table.changed_attributes td {text-align: center; }
  table.changed_attributes tr.changed {background-color: lime; }

  table.show table.changed_attributes th, table.show table.changed_attributes td {border: solid thin #DDD;}
  table.show, table.changed_attributes {border-collapse: collapse; margin-left: auto; margin-right: auto;}
  table.show td, table.show th {border: solid thin #666; vertical-align: top; padding: 0.5em;}

  tbody.current_audit_log > tr > * {border-top: none; border-bottom: none;}
  tbody.current_audit_log {background-color: #EEE}

  tbody.adjacent td {padding: 2em;}
  tbody.adjacent li {list-style: none;}

</style>

<div id="dictionary_show">
  <h1>
    Audit Log Trail for
    <%= "#{ @audit_log.audited_type.constantize.model_name } ##{@audit_log.audited_id }" %>
    <%= "(DELETED)" unless @audited_current %>
  </h1>

  <table class="show">

    <%= render 'show_adjacents', audit_logs: @prior_audit_logs.order(:created_at), title: 'Prior Audit Logs' %>

    <tbody class="current_audit_log">
      <tr>
        <th colspan="3">
          <%= @audit_log.action == AuditLog::DELETE_ACTION && @audit_log.association_name.blank? ?
                     "at DELETE" :
                     "after #{@audit_log.action.upcase} #{'in ' + @audit_log.association_name if @audit_log.association_name}" %>
          @ <%= l(@audit_log.created_at) %> by <%= @audit_log.created_by&.display_name %>
        </th>
      </tr>
      <tr>
        <td colspan="3">
          <% if @audit_log.is_a?(AssociationAuditLog) %>
            Association with <%= "#{@audit_log.associated_type}##{@audit_log.associated_id}" %>
          <% else %>
            <%= render partial: 'show_attributes', locals: {attributes_hash: @audited_attributes_after_action, changes: @changes } %>
          <% end %>
        </td>
      </tr>
    </tbody>

    <%= render 'show_adjacents', audit_logs: @later_audit_logs.order(:created_at), title: 'Later Audit Logs' %>

    <tbody class="group_actions">
      <tr>
        <td colspan="3" style="text-align:center">
          <%= link_to "Show trail in list" , topsail_starter_router.audit_logs_path(filter: @audit_log.attributes.slice('audited_type', 'audited_id')) %>
        </td>
      </tr>
    </tbody>

    <% if @audited_current %>
      <tbody class="gap"><tr><td colspan=3 style="border-left:none; border-right:none">&nbsp;</td></tr></tbody>

      <%= render partial: 'show_current_audited', locals: {audited_current: @audited_current} %>
    <% else %>
      <tbody><tr><th colspan=3>This record is now deleted</th></tr></tbody>
    <% end %>

  </table>
</div>