<div class="audit_history">
  <h1>Audit Log for <%= @audited_record.class.model_name.human %></h1>

  <table class="audit_history_table">
      <tr>
        <th class="when">When</th><th class="who">Caused By</th><th class="what">Changes</th>
      </tr>
      <% @audit_logs.each{ | l | %>
        <tr>
          <td class="when"><%= l(l.created_at) %></td>
          <td class="who"><%= l.created_by&.display_name %></td>
          <td class="what">
            <b>
                <%= l.action.titleize %>
                <% if l.is_a?(AssociationAuditLog) %>
                    Association <%= l.association_name %>
                <% end %>
                :
            </b>
            <% if l.is_a?(AssociationAuditLog) %>
                <%= "#{l.associated_type} # #{l.associated_id}" %>
            <% else %>
              <% l.record_changes.each_pair do |key, values| %>
                <div style="padding-left:20px">
                  <b><%= h(key) %></b>: <%= h(values[0]) %> => <%= h(values[1]) %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% } %>
  </table>
</div>
