ts-tooltip {

  position: absolute;
  padding: 7px 0;
  visibility: hidden;
  z-index: 99;

  &.hovering, &:hover { visibility: visible; }

  .tip-inner {
    font-size: small;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }

  .tip-content { padding: 8px; }

  .arrow {
    width: 0;
    height: 0;
    border-width: 0 8px 0 8px;
    border-style: solid dashed none;
    position: absolute;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &.bottom {
    .arrow { border-bottom-width: 8px; border-style: none dashed solid; }
    .arrow-front { top: 2px; }
    .arrow-back { top: 1px; }
  }

  &:not(.bottom){
    .arrow { border-top-width: 8px; border-style: solid dashed none; }
    .arrow-front { bottom: 2px; }
    .arrow-back { bottom: 1px; }
  }

  &.left       .arrow { right: 16px; }
  &:not(.left) .arrow { left: 16px; }

  & {   /* DEFAULT - Skin : white */
    .tip-inner { background: #fff; color: #888; }
    .arrow-front { border-top-color: #fff; border-bottom-color: #fff; }
    .arrow-back { border-top-color: #e8e8e8; border-bottom-color: #e8e8e8; }
  }


  &.black { /* Tips - Skin : black */
    .tip-inner { background: #000; color: #fff; }
    .arrow-front { border-top-color: #000; border-bottom-color: #000; }
    .arrow-back { border-top-color: #000; border-bottom-color: #000; }
  }
}