<!--
 |
 |  ts-tooltip
 |
 |  Shows a tooltip when the preceeding element is being hovered.
 |
 |  <div>Hover Me!</div>
 |  <ts-tooltip>Some Tooltip Content</ts-tooltip>
 |
 |    OR
 |
 |  <div>Hover Me!</div>
 |  <ts-tooltip delay="500" href="/person/512/v_card.html">Loading...</ts-tooltip>
 |
 |  Attributes:
 |        @href - (optional) retrieve tooltip content via AJAX on first hover
 |        @delay - (optional; default = "0") how many ms to wait for tooltip to kick off
 |        @always-reload - (optional) retrieve content (@href) each time when hovering
 |
 |  Events:
 |       ts-before-content-change - fired before tooltip actually opens. Can be cancelled.
 |
 |  Properties:  extra_params - a plain object passed in to subsequent AJAX load requests
 +-->
<script src="ts-tooltip.es6"></script>

<!-- Styling master ducument via html imports is depricated
  <link rel="stylesheet" href="style.css" />
-->

<template id="ts-tooltip">
  <div class="tip-inner">
    <div class="tip-content">
      <div class="tip-msg">
        <slot></slot>
      </div>
    </div>
  </div>
  <div class="arrow arrow-back"></div>
  <div class="arrow arrow-front"></div>
</template>